In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.decomposition import PCA

In [48]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [49]:
df = pd.read_csv('../data/raw/WildBlueberryPollinationSimulationData.csv')

In [50]:
df.drop('Row#', axis= 1, inplace = True)

In [51]:
df.shape

(777, 17)

Ahora trabajaremos con los outliers

honeyBee tiene 2 outliers

bumbles tiene 3 outliers

andrena tiene 1 outliers

osmia tiene 6 outliers

fruitset tiene 9 outliers

fruitmass tiene 2 outliers

seeds tiene 2 outlier

In [52]:
df.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.410652,0.408159,31.678898,3813.165795
1,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.444254,0.425458,33.449385,4947.605663
2,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,16.0,0.26,0.383787,0.399172,30.546306,3866.798965
3,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.407564,0.408789,31.562586,4303.943030
4,37.5,0.75,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.354413,0.382703,28.873714,3436.493543

In [53]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

print(IQR)
df_out = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df_out.shape

clonesize                 12.500000
honeybee                   0.250000
bumbles                    0.130000
andrena                    0.250000
osmia                      0.250000
MaxOfUpperTRange          11.600000
MinOfUpperTRange           5.200000
AverageOfUpperTRange       7.200000
MaxOfLowerTRange          10.200000
MinOfLowerTRange           3.000000
AverageOfLowerTRange       5.000000
RainingDays               20.230000
AverageRainingDays         0.290000
fruitset                   0.106571
fruitmass                  0.059869
seeds                      6.123577
yield                   1897.334830
dtype: float64

(752, 17)

Trabajaremos sobre el skew de HoneyBee

In [54]:
df_out['honeybee'] = df_out['honeybee'] + 1

C:\Users\laptop\AppData\Local\Temp\ipykernel_1356\3697383012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out['honeybee'] = df_out['honeybee'] + 1

In [55]:
df_out['honeybee'] = np.log(df_out['honeybee'])

C:\Users\laptop\AppData\Local\Temp\ipykernel_1356\2026996223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out['honeybee'] = np.log(df_out['honeybee'])

In [56]:
df_out.head()

,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,37.5,0.559616,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.410652,0.408159,31.678898,3813.165795
1,37.5,0.559616,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,1.0,0.10,0.444254,0.425458,33.449385,4947.605663
2,37.5,0.559616,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,16.0,0.26,0.383787,0.399172,30.546306,3866.798965
3,37.5,0.559616,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.407564,0.408789,31.562586,4303.943030
4,37.5,0.559616,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.354413,0.382703,28.873714,3436.493543

In [57]:
y = df_out['yield']

In [58]:
# SE ELIMINA LA COLUMNA YIELD Y SE ELIMINAN LAS COLUMNAS MaxOfUpperTRange Y MaxOfLowerTRange 
# YA QUE AL CALCULAR SU VIF DIERON RESULTADOS INF LO QUE SIGNIFICA INDEFINIDO
X = df_out.drop(columns=['yield','MaxOfUpperTRange','MaxOfLowerTRange'], axis=1)

In [59]:
y.to_csv('../data/processed/y.csv')

In [60]:
X.to_csv('../data/processed/X.csv')

A continuacion haremos una NORMALIZACION de las variable numericas

altos VIF - esto representa multicolinariedad


7   AverageOfUpperTRange 94,389,548.91
10  AverageOfLowerTRange 48,271,143.78
11           RainingDays         64.10
12    AverageRainingDays         71.32
13              fruitset         80.87
14             fruitmass        764.37
15                 seeds        566.71

In [ ]:
# X['AverageOfUpperTRange']=X['AverageOfUpperTRange']+1
# X['AverageOfLowerTRange']=X['AverageOfLowerTRange']+1
# X['RainingDays']=X['RainingDays']+1
# X['AverageRainingDays']=X['AverageRainingDays']+1
# X['fruitset']=X['fruitset']+1
# X['fruitmass']=X['fruitmass'] +1
# X['seeds']=X['seeds']+1   

# X['AverageOfUpperTRange']=np.log(X['AverageOfUpperTRange'])
# X['AverageOfLowerTRange']=np.log(X['AverageOfLowerTRange'])
# X['RainingDays']=np.log(X['RainingDays'])
# X['AverageRainingDays']=np.log(X['AverageRainingDays'])
# X['fruitset']=np.log(X['fruitset'])
# X['fruitmass']=np.log(X['fruitmass'])
# X['seeds']=np.log(X['seeds'])

In [ ]:
# from sklearn.preprocessing import StandardScaler

In [ ]:
# X['AverageOfUpperTRangeSC']=StandardScaler().fit_transform( np.array(X['AverageOfUpperTRange']).reshape(-1, 1) )
# X['AverageOfLowerTRangeSC']=StandardScaler().fit_transform(np.array(X['AverageOfLowerTRange']).reshape(-1,1) )
# X['RainingDaysSC']=StandardScaler().fit_transform(np.array(X['RainingDays']).reshape(-1,1) )
# X['AverageRainingDaysSC']=StandardScaler().fit_transform(np.array(X['AverageRainingDays']).reshape(-1,1) )
# X['fruitsetSC']=StandardScaler().fit_transform(np.array(X['fruitset']).reshape(-1,1) )
# X['fruitmassSC']=StandardScaler().fit_transform(np.array(X['fruitmass']).reshape(-1,1) )
# X['seedsSC']=StandardScaler().fit_transform(np.array(X['seeds']).reshape(-1,1) )

In [ ]:
# X.head()

In [ ]:
# X.drop(columns =['AverageOfUpperTRange'], axis = 1, inplace = True)
# X.drop(columns =['AverageOfLowerTRange'], axis = 1, inplace = True)
# X.drop(columns =['RainingDays'], axis = 1, inplace = True)
# X.drop(columns =['AverageRainingDays'], axis = 1, inplace = True)
# X.drop(columns =['fruitset'], axis = 1, inplace = True)
# X.drop(columns =['fruitmass'], axis = 1, inplace = True)
# X.drop(columns =['seeds'], axis = 1, inplace = True)